---
layout: default
title: Selected Work
---
<div id="work">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <section>
          <h2 class="fadeInUp">
            Building products that solve real problems.
          </h2>
          <p class="fadeInUp subhead">
            These are a few products and sites I have had the pleasure of
            designing and developing over the years.
          </p>
        </section>
      </div>
    </div>
  </div>
  <div class="container-fluid container-highlight-light">

    <div class="row fadeIn">
      <div class="col-md-8">
        {% include project.html project="survey-tool" %}
      </div>
      <div class="col-md-4">
        {% include project.html project="zebbly" %}
        <br>
        {% include project.html project="glg-homepage" %}
      </div>
    </div>

    <br>

    <div class="row fadeIn">
      <div class="col-md-4">
        {% include project.html project="gibbs-tuff" %}
        <br>
        {% include project.html project="recruiting" %}
      </div>
      <div class="col-md-8">
        {% include project.html project="maps-of-imaginary-places" %}
      </div>
    </div>

    <br>

    <div class="row fadeIn">
      <div class="col-md-4">
        {% include project.html project="lightburn" %}
      </div>
      <div class="col-md-8">
        {% include project.html project="auction-ninja" %}
      </div>
    </div>
    <br>
    <br>
  </div>

</div>
