---
layout: default
title: Portfolio Projects
---
<div id="work">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <section>
          <h2 class="fadeInUp">
            Design is about communicating ideas and reaching goals.
          </h2>
          <p class="fadeInUp subhead">
            These are a few sites I have had the pleasure of designing and/or developing over the past few years.
          </p>
        </section>
      </div>
    </div>
  </div>
  <div class="container-fluid container-highlight-light">

    <div class="row fadeIn">
      <div class="col-md-8">
        {% include project.html project="survey-tool" %}
      </div>
      <div class="col-md-4">
        {% include project.html project="gibbs-tuff" %}
        <br>
        {% include project.html project="recruiting" %}
      </div>
    </div>

    <br>

    <div class="row fadeIn">
      <div class="col-md-4">
        {% include project.html project="glg-homepage" %}
        <br>
        {% include project.html project="lightburn" %}
      </div>
      <div class="col-md-8">
        {% include project.html project="maps-of-imaginary-places" %}
      </div>
    </div>

    <br>

    <div class="row fadeIn hide">
      <div class="col-md-4">
        {% include project.html project="clearing-house" %}
      </div>
      <div class="col-md-4">
        {% include project.html project="gibbs-tuff" %}
      </div>
      <div class="col-md-4">
        {% include project.html project="dashboard" %}
      </div>
    </div>

    <br>
    <br>
  </div>
</div>