---
layout: default
title: Selected Work
---
<div id="work">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <section>
          <h2 class="fadeInUp">
            Building products that solve real problems.
          </h2>
          <p class="fadeInUp subhead">
            These are a few products and sites I have had the pleasure of
            designing and developing over the years.
          </p>
        </section>
      </div>
    </div>
    <div class="row fadeIn">
      <div class="col-sm-12">
        <section class="gh-activity">
          <div class="accent-card gh-graph-card">
            <h4>Currently Building</h4>
            <p>
              My day-to-day work is product engineering and design systems at
              GLG, where I spend a lot of time turning complex requirements
              into scalable, usable software. The codebase is private but my
              work ethic isn&rsquo;t. Here&rsquo;s a year of my GitHub
              activity, updated live.
            </p>
            <a href="https://github.com/iamchristinabot" target="_blank" class="gh-graph">
              <img src="https://ghchart.rshah.org/1b76bc/iamchristinabot"
                   alt="Christina Dobi's GitHub contribution graph: a year of near-daily commits" />
            </a>
            <p class="small muted gh-graph-note">From <a href="https://github.com/iamchristinabot" target="_blank">github.com/iamchristinabot</a>.</p>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="container-fluid container-highlight-light">

    <div class="row fadeIn">
      <div class="col-md-8">
        {% include project.html project="survey-tool" %}
      </div>
      <div class="col-md-4">
        {% include project.html project="zebbly" %}
        <br>
        {% include project.html project="glg-homepage" %}
      </div>
    </div>

    <br>

    <div class="row fadeIn">
      <div class="col-md-4">
        {% include project.html project="gibbs-tuff" %}
        <br>
        {% include project.html project="recruiting" %}
      </div>
      <div class="col-md-8">
        {% include project.html project="maps-of-imaginary-places" %}
      </div>
    </div>

    <br>

    <div class="row fadeIn">
      <div class="col-md-4">
        {% include project.html project="lightburn" %}
      </div>
      <div class="col-md-8">
        {% include project.html project="auction-ninja" %}
      </div>
    </div>
    <br>
    <br>
  </div>

</div>
