<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="social">
          <a href="https://www.instagram.com/{{site.instagram_id}}/" target="_blank"><span class="fa fa-instagram"></span></a>

          <a href="https://www.pinterest.com/{{site.pinterest_id}}/" target="_blank"><span class="fa fa-pinterest"></span></a>

          <a href="https://twitter.com/{{site.twitter_id}}" target="_blank"><span class="fa fa-twitter"></span></a>

          <a href="https://www.linkedin.com/in/{{site.linkedin_id}}/" target="_blank"><span class="fa fa-linkedin"></span></a>

        </div>
        <p>
          Copyright © Christina Dobi 2017
          <br>
          <a href="mailto:{{site.email}}" class="decorate">Email Me</a>
        </p>
      </div>
    </div>
  </div>
</footer>
