<section class="container-fluid container-highlight text-center">
  <h4 class="text-inverted">Say Hello</h4>
  <p class="text-inverted">You can reach me by <a href="mailto:iamchristinabot@gmail.com" target="_blank" class="text-inverted"><b>email</b></a>, I'd love to hear from you.</p>
</section>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="social">
          <a href="https://www.instagram.com/{{site.instagram_id}}/" target="_blank"><span class="fa fa-instagram"></span></a>

          <a href="https://www.pinterest.com/{{site.pinterest_id}}/" target="_blank"><span class="fa fa-pinterest"></span></a>

          <a href="https://twitter.com/{{site.twitter_id}}" target="_blank"><span class="fa fa-twitter"></span></a>

          <a href="https://www.linkedin.com/in/{{site.linkedin_id}}/" target="_blank"><span class="fa fa-linkedin"></span></a>

        </div>
        <p class="footernote">
          © 2020 Christina Dobi - Visuals protected under the <a href="#" class="loc_link">Digital Millenium Copyright Act</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
