<div class="sidebar">
  <hr class="first">
  <h5>Categories</h5>
  <ul class="no-bullets">
    <li>
      <a href="/blog/web-development">Web Development</a>
    </li>
    <li>
      <a href="/blog/design">Design</a>
    </li>
    <li>
      <a href="/blog/work-life">Work life</a>
    </li>
    <li>
      <a href="/blog/personal">Personal</a>
    </li>
  </ul>

  <hr>
  <h5>Follow Me</h5>
  <ul class="no-bullets">
    <li>
      <a href="https://www.instagram.com/iamchristinabot/">Instagram</a>
    </li>
    <li>
      <a href="https://www.facebook.com/iamchristinabot">Facebook</a>
    </li>
    <li>
      <a href="https://www.pinterest.com/iamchristinabot/">Pinterest</a>
    </li>
    <li>
      <a href="https://twitter.com/iamchristinabot">Twitter</a>
    </li>
  </ul>
</div>
