<div class="accent-card sidebar-contact-card">
  <h4>Get in Touch</h4>
  <p>I'd love to hear from you.</p>
  <ul class="no-bullets">
    <li>
      <a href="https://www.instagram.com/{{site.instagram_id}}/" target="_blank"><span class="contact-chip"><span class="fa fa-instagram" aria-hidden="true"></span></span>Instagram</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/{{site.linkedin_id}}/" target="_blank"><span class="contact-chip"><span class="fa fa-linkedin" aria-hidden="true"></span></span>LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/{{site.github_id}}" target="_blank"><span class="contact-chip"><span class="fa fa-github" aria-hidden="true"></span></span>GitHub</a>
    </li>
    <li>
      <a href="mailto:{{site.email}}"><span class="contact-chip"><span class="fa fa-envelope-o" aria-hidden="true"></span></span>Email</a>
    </li>
  </ul>
</div>
