<div class="sidebar">

  {% unless page.sidebar-about == false %}
    {% include post-sidebar-about.html %}
  {% endunless %}

  {% unless page.sidebar-categories == false %}

    {% include post-sidebar-categories.html %}
  {% endunless %}

  {% unless page.sidebar-tags == false %}

    {% include post-sidebar-tags.html %}
  {% endunless %}

  {% if page.sidebar-email == true %}
    {% include post-sidebar-email.html %}
  {% endif %}

  {% if page.sidebar-social == true %}

    {% include post-sidebar-social.html %}
  {% endif %}
  <br/>
  <br/>
</div>
