a {
  img {
    border: none;
  }
  &:link, &:active, &:visited {
    text-decoration: none;
    color: $body-color;
  }
  &.brand:link, &.brand:active, &.brand:visited {
    text-decoration: none;
    color: $brand-color;
  }
  &:hover {
    text-decoration: none;
    color: #b5b5b5;
  }
  &:focus {
    outline: none;
  }
  &.decorate:hover{
    text-decoration: underline;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.container{
  max-width: 1024px;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: .3s;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 1s;
}

@-webkit-keyframes bounce {
  0% {
    top: 0px;
  }
  25% {
    top: -5px;
  }
  50% {
    top: -10px;
  }
  75% {
    top: -10px;
  }
  100% {
    top: -10px;
  }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

hr {
  width: 100%;
  height: 1px;
  background: #DFDFDF;
  margin: 30px 0;
  display: block;
  border: none;
  clear: both;
}

img {
  -ms-interpolation-mode: bicubic;
  &.top {
    vertical-align: top;
  }
  &.middle {
    vertical-align: middle;
  }
  &.bottom {
    vertical-align: bottom;
  }
}

.pointer {
  cursor: pointer;
}

.card{
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  margin: 10px 0;
  padding: 20px;
}

ol.no-bullets,
ul.no-bullets {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-content{
  background-color: #fafafa;
  padding-top: 20px;
}

.pagination{
  display: block;
  .page_number {
    padding-top: 8px;
    display: inline-block;
  }
}

section{
  padding: 40px 0;
  @include breakp($bp-medium){
    padding: 60px 0;
  }
}

.sidebar{
  @include opacity(.85);
}

#tag_cloud{
  a{
    margin: 2px;
  }
}
