/* =============================================================================
   SET DEFAULTS
   ========================================================================== */

/* No Borders on Images */

a {
  img {
    border: none;
  }
  &:link, &:active, &:visited {
    text-decoration: none;
    color: #ff6659;
  }
  &:hover {
    text-decoration: none;
    color: #b5b5b5;
  }
  &:focus {
    outline: none;
  }
}

/* Default Link Colors */

/* Remove dotted focus on image links in FF */

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.container{
  max-width: 1024px;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: .3s;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 1s;
}

@-webkit-keyframes bounce {
  0% {
    top: 0px;
  }
  25% {
    top: -5px;
  }
  50% {
    top: -10px;
  }
  75% {
    top: -10px;
  }
  100% {
    top: -10px;
  }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.hide_content {
  display: none;
}

hr {
  width: 100%;
  height: 1px;
  background: #DFDFDF;
  margin: 30px 0;
  display: block;
  border: none;
  clear: both;
}

img {
  -ms-interpolation-mode: bicubic;
  &.top {
    vertical-align: top;
  }
  &.middle {
    vertical-align: middle;
  }
  &.bottom {
    vertical-align: bottom;
  }
}

.page-title{
  padding-top: 65px;
  h1{
    color: #333;
    font-size: 34px;
    line-height: 1.25;
  }
  h2{
    color: #aaa;
    font-weight: 100;
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  p{
      font-family: "garogier";
      font-style: normal;
      font-size: 22px;
      letter-spacing: .25px;
      line-height: 30px;
      padding-bottom: 50px;
      font-weight: 200;
      text-align: justify;
      text-justify: inter-word;
  }
}

.pointer {
  cursor: pointer;
}

/* END Default Style */


/* =============================================================================
   START FOOTER
   ========================================================================== */

.footer {
  background-color: #fff;
  text-align: left;
  border-top: 1px solid #eee;
  margin: 40px 0 0 0;
  h1 {
    margin: 0 0 20px 0;
  }
  .copyright {
    color: #eeeeee;
    font-size: 12px;
    letter-spacing: .25px;
    text-align: center;
  }
  .embellish {
    background: transparent url(../images/embellish.png) no-repeat bottom center;
    height: 24px;
    margin: 0px 0px 25px 0px;
    display: none;
  }
  .main {
    width: 380px;
    padding: 30px 40px;
    min-height: 500px;
    height: auto !important;
    height: 500px;
    margin: 0px 0px 30px 0px;
  }
}

/*  END Footer  */

/* =============================================================================
   START HEADER
   ========================================================================== */

.colors {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000000;
  width: 100%;
  .colors-inner{
    position: relative;
    height: 0px;
    width: 100%;
    overflow: none;
    z-index: 100;
  }
  header{
    position: relative;
    margin: 20px 0px 0px 0px;
    z-index: 1000;
    a.logo {
      display: block;
      background: transparent url(../images/christina-dobi-logo.png) no-repeat scroll 0 0;
      margin: 0px auto;
      width: 309px;
      margin-top: 2px;
      margin-left: 0;
      height: 30px;
      text-indent: -3000px;
    }
  }
}

/*  START Nav Style  */

nav {
  color: #c4c4c4;
  padding: 6px 0px 20px 0px;
  font-weight: bold;
  position: relative;
  ul {
    margin: 0;
    list-style: none;
    li {
      float: left;
      position: relative;
      display: list-item;
      a {
        display: block;
        background: transparent url(../images/nav.png) no-repeat scroll 0 0;
        margin: 0px 10px 0 0;
        height: 25px;
        text-indent: -3000px;
        &#nav_work {
          background-position: 0 0;
          margin-right: 30px;
          width: 54px;
        }
        &#nav_about {
          background-position: -83px 0;
          margin-right: 30px;
          width: 83px;
        }
        &#nav_blog {
          background-position: -174px 0;
          margin-right: 30px;
          width: 42px;
        }
        &#nav_contact {
          background-position: -247px 0;
          width: 75px;
        }
      }
    }
  }
}

ol, ul {
  list-style: none;
}

.page {
  background-color: #dfdfdf;
  padding: 110px 0 0 0;
}

/*  END Header Style  */
