.footer {
  background-color: $dark-color;
  text-align: left;
  margin: 0;
  padding: 30px 0;
  .footernote{
    font-size: 12px;
    padding-top: 10px;
  }
  p {
    color: #fff;
  }
  .social{
    .fa{
      color: #fff;
      padding: 5px;
    }
  }
}
