.home {
  width: 100%;
  height:100%;
  @include breakp($bp-large){
    overflow:hidden;
  }
  .home-nav{
    a, a:link, a:active, a:hover, a:visited{
      color: #fff;
      margin: 0 10px;
    }
  }
  .hero{
    position: relative;
    overflow: hidden;
    display: table;
    width: 100%;
    height: 500px;
    padding: 0 15px;
    @include breakp($bp-large){
      padding: 0;
      height: 100vh;
    }
    .hello{
      margin: 0 auto;
      width: 100%;
      max-width: 175px;
      @include breakp($bp-medium){
        max-width: 260px;
      }
      @include breakp($bp-large){
        max-width: 400px;
      }
    }
    .about-me{
      color: #fff;
      font-weight: 100;
      font-size: 24px;
      margin: 20px auto;
      max-width: 500px;
      @include breakp($bp-large){
        max-width: 740px;
      }
    }
    .monogram{
      max-width: 50px;
      @include opacity(.8);
    }
    .text-wrap{
      height: 100%;
      display: table-row;
    }
    .text{
      vertical-align: middle;
      padding: 100px 0;
      width: 100%;
      position: relative;
      display: table-cell;
    }
  }

  #overlay {
    background: #64BFB3;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -5;
    pointer-events: none;
    @include opacity(.7);
  }
  .social{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    @include breakp($bp-large){
      right: 20px;
      width: auto;
    }
  }

  .video{
    position: absolute;
    top: 0;
    z-index: -10;
    background: #1f252a url('/images/video-still.jpg') no-repeat 0 0;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    width: 100%;
    height: 100%;
    @include breakp($bp-medium){
      background: #000000 none no-repeat 0 0;
    }
    video{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -10;
      overflow: hidden;
    }

  }
}
