$brand-color: #419ef7;
$body-color: #888888;

$bp-small : 480px;
$bp-small-plus : 650px;
$bp-medium : 768px;
$bp-large : 992px;
$bp-xlarge : 1200px;

@mixin breakp ($breaksize){
    @media only screen and (min-width: $breaksize) { @content; }
}

@mixin backgroundCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// OPACITY
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie)";
  filter: alpha(opacity=$opacity-ie); //IE8
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}
