nav {  
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  margin-bottom: 0px;
  position: relative;
  z-index: 5;
  @include breakp($bp-medium){
    padding: 40px 0;
  }
  .christina-dobi{
    color: $brand-color;
    font-size: 26px;
    font-weight: bold;
    vertical-align: middle;
  }
  .monogram{
    max-width: 50px;
    @include opacity(.95);
  }
  a.page-link, a.page-link:link, a.page-link:active, a.page-link:hover, a.page-link:visited{
    color: $brand-color;
    margin: 5px 10px;
  }
  a.page-link{
    display: inline-block;
  }
}
