#post{
  padding-top: 30px;
  min-height: 400px;
  .back-to-blog{
    margin-bottom: 40px;
    display: inline-block;
  }
  img{
    width: 100%;
    height: auto;
  }
  .sidebar{
    margin-top: 10px;
  }
}
