#post{
  padding-top: 30px;
  min-height: 400px;
  .back-to-blog{
    margin-bottom: 40px;
    display: inline-block;
  }
  img{
    width: 100%;
    height: auto;
  }
  .sidebar{
    margin-top: 10px;
  }
  .post-card{
    background: #fff;
    // border-right: 1px solid rgba(0,0,0,.07);
    margin: 0;
    padding: 0px 30px 20px 0px;
  }
}
