---
layout: default
title: Blog
header: true
sidebar-categories: true
---

<div id="posts">
  <div class="container">
    <div class="row fadeIn">
      <div class="col-sm-8">
        <ul class="no-bullets">
          {% for post in paginator.posts %}
          {% unless post.sitemap == false %}
            {% include post-card.html %}
          {% endunless %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-4">
        {% include post-sidebar.html %}
      </div>
    </div>

    <!-- Pagination links -->
    <div class="row">
      <div class="col-sm-8 text-center">
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
          {% else %}
            <span class="previous">Previous</span>
          {% endif %}
          <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
          {% else %}
            <span class="next ">Next</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
