---
layout: default
title: Blog
header: true
sidebar-categories: true
sidebar-tags: true
sidebar-about: false
---

<div id="posts">
  <div class="container">
    <div class="row fadeInUp">
      <div class="col-sm-12">
        <h2>Blog</h2>
        <p class="subhead muted">Thoughts about programming, design, and life in general.</p>
      </div>
    </div>
    <div class="row fadeIn">
      <div class="col-sm-9">
        <ul class="no-bullets">
          {% for post in paginator.posts %}
          {% unless post.sitemap == false %}
            {% include post-card.html %}
          {% endunless %}
          {% endfor %}
        </ul>
        {% include pagination.html %}
      </div>
      <div class="col-sm-3">
        {% include post-sidebar.html %}
      </div>
    </div>

  </div>
</div>
