---
layout: default
title: Christina Dobi | Blog
header: true
---

<div id="posts">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <ul class="no-bullets">
          {% for post in site.posts %}
          {% unless post.sitemap == false %}
            {% include post-card.html %}
          {% endunless %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-4">
        {% include post-sidebar.html %}
      </div>
    </div>
  </div>
</div>
