<!DOCTYPE html>

<html>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="post">
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-centered">
            <div class="card">
              <!-- One -->
              <h2>{{ page.title }}</h2>
              <p>{{ content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
