---
layout: default
---

<div id="post">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="card">
          <!-- One -->
          <h2>{{ page.title }}</h2>
          <p>{{ content }}</p>
        </div>
        <a href="{{ site.url | prepend: site.baseurl }}/blog/" class="back-to-blog"><span class="fa fa-long-arrow-left"></span>Back to Blog</a>
      </div>
      <div class="col-sm-3">
        {% include post-sidebar.html %}
      </div>
    </div>
  </div>
</div>
